@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
    background-image: url('../img/background.jpg');

}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 20px;
    font-size: 50px;
}

p {
    color: aliceblue;
    font-size: 36px;
}

#cnjokes {
    display: flex;
    justify-content: center;
    padding: 8rem 7rem 0 7rem;
}

#chuck_gif {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.myButton {
    background-color: #867670;
    border-radius: 28px;
    border: 1px solid #262423;
    display: flex;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b4b44;
}

.myButton:hover {
    background-color: #5b4b44;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.btn {
    display: flex;
    justify-content: right;
    padding-top: 5rem;
    padding-right: 15rem;
}